/* Reseting Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    height: 100%;
    width: 100%;
    background: green;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    align-content: center;
}

.section1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    height: 80%;
}

.game-table {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    height: 100%;
    border: 2px solid greenyellow;
    perspective: 1000px;
    justify-content: center;
    align-content: center;
}

.pre_section2 {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section2 {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.range {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid greenyellow;
    text-align: center;
    padding: 0.5rem;
    height: 35%;
}

.range1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.range2 {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    text-align-last: center;
    gap: 0.5rem;
}

.range2 input::-webkit-outer-spin-button,
.range2 input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    text-align: center;
    /* margin: 0; */

}

.range2 button {
    width: 35%;
    padding: 0.25rem;
    border-radius: 10px;
}

input[type='range'] {
    width: 50%;
}

.players {
    display: flex;
    flex-direction: column;
    border: 2px solid greenyellow;
    min-height: 55%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.players h2 {
    margin: 1rem;
}

.count {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 10%;
    text-align-last: center;
}

.memory-card {
    position: relative;
    flex: 0 0 7%;
    width: 9%;
    height: 18%;
    margin: 0.15rem;
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 5);
    transform: scale(1);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.back-face,
.front-face {
    position: absolute;
    border: 2px solid rgb(238, 255, 0);
    width: 100%;
    height: 100%;
    background: aqua;
    backface-visibility: hidden;
}

.front-face {
    border-radius: 3px;
    cursor: pointer;
}

.back-face {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    font-size: 3rem;
    transform: rotateY(180deg);
}

.memory-card.flip.delete {
    /* Adding visibility hidden to new className added to cards on deleteCards()*/
    visibility: hidden;
}

/* players */
#players {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.play {
    padding: 0.2rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

#players1 {
    color: aqua;
}

#players2 {
    color: rgb(255, 0, 0);
}

#players3 {
    color: rgb(255, 0, 221);
}

#players4 {
    color: rgb(187, 255, 0);
}

#players5 {
    color: rgb(187, 93, 93);
}

#players6 {
    color: rgb(241, 233, 113);
}

[data-back='back'] {
    /* background-color: rgb(228, 255, 129); */
    border: 2px solid black;
}




@media screen and (max-height: 414px) and (orientation:landscape) {
    .header {
        font-size: 2.5rem;
    }

    .count h2 {
        font-size: 0.75rem;
    }

    .range {
        height: 40%;
        font-size: 0.7rem;
    }

    .players {
        height: 75%;
    }

    .players h2 {
        font-size: 1.2rem;
        margin: 0.25rem;
    }

    .play {
        font-size: 0.75rem;
    }

    .pre_section2 {
        height: 104%;
    }

    .section2 {
        height: 90%;
    }

    .range2 {
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
        height: 1rem;
    }

    .range2 * {
        font-size: 0.75rem;
    }

    .range2 label {
        width: 70%;
    }

    .range2 button,
    .range2 input {
        width: 20%;
        font-size: 0.5rem;
    }
}

@media(max-width: 1200px) and (orientation:portrait) {
    .range2 {
        flex-wrap: wrap;
        width: 100%;
        gap: 1rem;
    }

    .range2 input {
        width: 35%;
    }

}

@media(max-width: 768px) and (orientation:portrait) {
    .body {
        width: 95%;
        min-height: 100%;
    }

    .section1 {
        height: 250%;
    }

    .header {
        font-size: 2.5rem;
    }

    .section1 {
        flex-direction: column;
    }

    .game-table {
        width: 95%;
        height: 200%;
        align-self: center;
    }

    .pre_section2 {
        /* margin-top: 1rem; */
        width: 95%;
        align-self: center;
    }

    .section2 {
        margin-top: 2rem;
        flex-direction: row;
        width: 95%;
        align-self: center;
    }

    .range {
        width: 48%;
        height: 100%;
    }

    .players {
        width: 48%;
        height: 100%;
    }

    .count {
        padding: 2rem;
    }
}

@media(max-width: 414px) and (orientation:portrait) {
    .range2 {
        width: 100%;
        flex-direction: column;
    }

    .range1 {
        font-size: small;
    }

    .back-face {
        font-size: 2rem;
    }
}

@media(max-width: 375px) and (orientation:portrait) {
    .header {
        font-size: 2rem;
    }

    .range2 {
        width: 100%;
        flex-direction: column;
    }

    .range1 {
        font-size: 0.75rem;
    }

    .back-face {
        font-size: 2rem;
    }
    .count {
        padding: 2rem 1rem;
    }
}